.App {
  text-align: center;
}

.wrapper{
  max-width: 1000px;
  min-width: 760px;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
  "header"
  "content"
}

.content{
  grid-area: content;
}


@media (min-width: 550px) {
   .wrapper {
     grid-column-gap: 1em;
     grid-row-gap: 20px;
     grid-template-columns: 16fr;
     grid-template-areas:
       "header  "
       "content"
       "footer "
   }
}

.raterwrapper{
  width: 45px;
  display: inline-grid;
  grid-template-columns: 1fr,1fr,1fr;
  grid-template-rows: 15px,42px,15px;
  grid-template-areas: ". up ."
                       "score score score"
                       ". down .";
  justify-content: center;

}

.up {
  grid-area: up;
}
.down {
  grid-area: down;
}

.score{
  background-color: white;
  grid-area: score;
  font-weight: bold;
  font-size: small;
  text-align: center;
  color: #c6c6c6;
  margin-left: -4px;
}
