.App {
  text-align: center;
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
  "header"
  "content"
}

.content{
  grid-area: content;
  background-color: #c8c8c8;
  color: black;

}
.sidebar{
  grid-area: sidebar;
  background-color: #67b4c8;
  color: white;
}

@media (min-width: 550px) {
   .wrapper {
     grid-column-gap: 1em;
     grid-row-gap: 20px;
     grid-template-columns: 16fr;
     grid-template-areas:
       "header  "
       "content"
       "footer "
   }
}

.raterwrapper{
  width: 45px;
  display: inline-grid;
  grid-template-columns: 1fr,1fr,1fr;
  grid-template-rows: 15px,42px,15px;
  grid-template-areas: ". up ."
                       "score score score"
                       ". down .";
  justify-content: center;

}

.up {
  grid-area: up;
}
.down {
  grid-area: down;
}

.score{
  background-color: white;
  grid-area: score;
  font-weight: bold;
  font-size: small;
  text-align: center;
  color: #c6c6c6;
  margin-left: -4px;
}


.post{
  width: 100%;
  display: flex;
}
.post-rater{
  padding-right: 10px;
  width: 70px;
}
.post-image{
  width: 70px;
  padding-left: 10px;
  align-self: center;
  
}
.post-image .image{
  background-color: lightgrey;
}
.post-content {
  /*background-color: rgb(139, 222, 1);*/
  height: 100%;
  padding: 12px 0 0 10px;
  width: 100%;
  /*align-self:center;*/
  /*display: flex;*/
  /*flex-direction:column;*/
}

.post-content .post-title{
  color: #0000ff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bolder;
}
.post-body{
  padding: 0px 10px 15px 0px
}

.post-submitted{
  text-transform: capitalize;
  color: grey;
  margin-top: -12px
  /*align-self: flex-end;*/

}

.post-submitted span{
  color:#4d5763;
  font-weight: bolder;
}


.post-comments{
  margin-top: -15px;
  color: red;
  font-weight: bold;
}
.post-comments span{

}

.active .item{
  color:white;
}
