.post{
  min-width: 630px;
  display: flex;
}
.post-rater{
  padding-right: 10px;
  width: 70px;
  align-self: center;
}
.post-image{
  width: 200px;
  padding-left: 10px;
  align-self: center;
  margin-left: 8px;

}
.post-image .image{
  /*background-color: lightgrey;*/
}
.post-content {
  /*background-color: rgb(139, 222, 1);*/
  height: 100%;
  padding: 12px 0 0 20px;
  width: 100%;
  align-self: center;
  /*align-self:center;*/
  /*display: flex;*/
  /*flex-direction:column;*/
}

.post-content .post-title{
  color: #0000ff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
.post-body{
  padding: 0px 10px 15px 0px
}

.post-submitted{
  text-transform: capitalize;
  color: grey;
  margin-top: -8px

}

.post-submitted span{
  color:#4d5763;
  font-weight: bolder;
}


.post-comments{
  display: flex;
  justify-content: center;
}
.post-comments span{
}

.post-comments .post-comments-popup{
  background-color: white;
  color: white
}

.postContent {
  width: 700px;
  align-self: center;
}
