.App {
  text-align: center;
}

.wrapper{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
  "header"
  "content"
  "footer"

}
.mainheader {
  background-color: #222;
  color: white;
  height: 100px;
  padding: 20px;
  grid-area: header;

}
.content{
  grid-area: content;
  background-color: #c8c8c8;
  color: black;

}
.sidebar{
  grid-area: sidebar;
  background-color: #67b4c8;
  color: white;

}
.footer{
  grid-area: footer;
  background-color: #736877;
  color: white;
  margin: 0 auto;

}
@media (min-width: 550px) {

   .wrapper {
     grid-column-gap: 1em;
     grid-row-gap: 20px;
     grid-template-columns: 16fr;
     grid-template-areas:
       "header  "
       "content"
       "footer "
   }


}
